@model IEnumerable<Questionnaire.WEB.Models.Entities.FormVM>
<table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm" id="listTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NumberForm)</th>
            <th>@Html.DisplayNameFor(model => model.SurveyGeographyId)</th>
            <th>@Html.DisplayNameFor(model => model.HousingTypeId)</th>
            <th>@Html.DisplayNameFor(model => model.InterviewerId)</th>
            <th>@Html.DisplayNameFor(model => model.DistrictId)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.InterviewDate)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.EndTime)</th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">

                <td>@item.NumberForm</td>
                <td>@item.SurveyGeography.Name</td>
                <td>@item.HousingType.Name</td>
                <td>@item.Interviewer.Name</td>
                <td>@Html.DisplayFor(model => item.District.Name)</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.InterviewDate</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>

                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <div class="btn-group float-right" role="group">
                            <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Form", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                            <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Form", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                            <a class="btn btn-info btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("QuestionAnswers", "FormData", new { questionTypeId = 1, id = item.Id })"><i class="fa fa-list-alt" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Заполнить анкету</a>
                            <a class="btn btn-danger delete-prompt btn-sm" name="deleteButton" id="@item.Id"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i> Удалить</a>
                            <a class="btn btn-warning btn-sm" href="@Url.Action("RemoveData", "Form", new { id = item.Id })" onclick="return removeDataConfirm();"><i class="fa fa-eraser" aria-hidden="true" title="Удалить данные" data-toggle="tooltip" data-placement="top"></i> Удалить данные</a>
                        </div>
                    }
                    else if (User.IsInRole("manager") || User.IsInRole("user"))
                    {
                        <div class="btn-group float-right" role="group">
                            <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Form", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                            <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Form", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                            <a class="btn btn-info btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("QuestionAnswers", "FormData", new { questionTypeId = 1, id = item.Id  })"><i class="fa fa-list-alt" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Заполнить анкету</a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-default" onclick="toPrevMain()">Вернуться к списку</button>

<!-- Bootstrap modal popup -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Удаление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message"> Вы действительно хотите удалить запись? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger delete-confirm">Да</button>
                <button class="btn btn-default delete-cancel" data-dismiss="modal">Нет</button>
            </div>
        </div>
    </div>
</div>

<script>
    modalRemovalWindow('/Form/Delete');
</script>