@model Questionnaire.WEB.Models.Entities.QuestionVM

@{
    ViewBag.Title = "Редактирование";
}

<div class="block">
    <h2 class="block-title">Редактирование</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionTypeId)
            @Html.DropDownList("QuestionTypeId", null, "Тип вопроса", htmlAttributes: new { @class = "form-control", @required = "required", @id = "questionTypeDropDown" })
            @Html.ValidationMessageFor(model => model.QuestionTypeId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultipleAnswer)
            <p class="onoff">
                @*@Html.CheckBoxFor(model => model.MultipleAnswer, new { @id = "checkboxID" })*@
                <input data-val="true" data-val-required="Требуется поле Вопрос может содержать несколько ответов." id="checkboxID" name="MultipleAnswer" type="checkbox" value="true" @Html.Raw((Model.MultipleAnswer) ? "checked=\"checked\"" : "")/>
                <label for="checkboxID"></label>
            </p>
        </div>

        <div class="form-group">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
                <a href="@Url.Action("Index", "Question")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    <script>$(function () {
            $("#questionTypeDropDown").chosen({ width: "100%" });
        });</script>
}