@model PagedList.IPagedList<Questionnaire.WEB.Models.Entities.FormVM>
@using PagedList;
@using PagedList.Mvc;

<table class="table table-responsive-sm table-responsive-md table-responsive-lg table-sm" id="listTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().NumberForm)</th>
            <th>@Html.DisplayNameFor(model => model.First().SurveyGeographyId)</th>
            <th>@Html.DisplayNameFor(model => model.First().HousingTypeId)</th>
            <th>@Html.DisplayNameFor(model => model.First().InterviewerId)</th>
            <th>@Html.DisplayNameFor(model => model.First().DistrictId)</th>
            <th>@Html.DisplayNameFor(model => model.First().Address)</th>
            <th>@Html.DisplayNameFor(model => model.First().Phone)</th>
            <th>@Html.DisplayNameFor(model => model.First().InterviewDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.First().EndTime)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr id="@item.Id">
            <td>@Html.DisplayFor(modelItem => item.NumberForm)</td>
            <td>@Html.DisplayFor(modelItem => item.SurveyGeography.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.HousingType.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Interviewer.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.District.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>@Html.DisplayFor(modelItem => item.InterviewDate)</td>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.EndTime)</td>

            <td>
                @if (User.IsInRole("admin"))
                {
                    <div class="btn-group float-right" role="group">
                        <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Form", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                        <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Form", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                        <a class="btn btn-info btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("QuestionAnswers", "FormData", new { questionTypeId = 1 })"><i class="fa fa-list-alt" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Заполнить анкету</a>
                        <a class="btn btn-danger delete-prompt btn-sm" name="deleteButton" id="@item.Id"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i> Удалить</a>
                        <a class="btn btn-warning btn-sm" href="@Url.Action("RemoveData", "Form", new { id = item.Id })" onclick="return removeDataConfirm();"><i class="fa fa-eraser" aria-hidden="true" title="Удалить данные" data-toggle="tooltip" data-placement="top"></i> Удалить данные</a>
                    </div>
                }
                else if (User.IsInRole("manager") || User.IsInRole("user"))
                {
                    <div class="btn-group float-right" role="group">
                        <a class="btn btn-success btn-sm" name="editButton" id="editButton" href="@Url.Action("Edit", "Form", new { id = item.Id })"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i> Редактировать</a>
                        <a class="btn btn-warning btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Form", new { id = item.Id })"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Просмотреть</a>
                        <a class="btn btn-info btn-sm" name="detailsButton" id="detailsButton" href="@Url.Action("QuestionAnswers", "FormData", new { questionTypeId = 1 })"><i class="fa fa-list-alt" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i> Заполнить анкету</a>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("AjaxFormList", new { page }),
 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "result" }))
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    <!-- Bootstrap modal popup -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Удаление</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="success-message"> Вы действительно хотите удалить запись? </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger delete-confirm">Да</button>
                    <button class="btn btn-default delete-cancel" data-dismiss="modal">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        modalRemovalWindow('/Form/Delete');
    </script>
