@model Questionnaire.WEB.Models.Entities.FormVM

@{
    ViewBag.Title = "Добаление анкеты";
}

<div class="block">
    <h2 class="block-title">Добавление</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <form>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.NumberForm) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumberForm, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @min = "0", @id = "numberFormRequired" } })
                        @Html.ValidationMessageFor(model => model.NumberForm, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.SurveyGeographyId) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("SurveyGeographyId", null, "Место обследования", htmlAttributes: new { @class = "form-control", @id = "surveyGeographyIdDropDown" })
                        @Html.ValidationMessageFor(model => model.SurveyGeographyId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.HousingTypeId) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("HousingTypeId", null, "Тип жилья", htmlAttributes: new { @class = "form-control", @required = "required", @id = "housingTypeIdDropDown" })
                        @Html.ValidationMessageFor(model => model.HousingTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.InterviewerId) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("InterviewerId", null, "ФИО интервьюера", htmlAttributes: new { @class = "form-control", @required = "required", @id = "interviewerIdDropDown" })
                        @Html.ValidationMessageFor(model => model.InterviewerId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.DistrictId)
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownList("DistrictId", null, "Район", htmlAttributes: new { @class = "form-control", @id = "districtIdDropDown" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Address)
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Phone)
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.InterviewDate) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InterviewDate, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Today, @type = "date", @min = "1930-01-01", @max = "2100-01-01", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.InterviewDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.StartTime) <span>*</span>
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.Time, @type = "time", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.EndTime)
                    </div>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                    </div>
                </div>
                <div class="alert alert-danger" style="display:none" role="alert">
                    Необходимо заполнить все обязательные поля помеченные знаком (*)
                </div>
            </form>

            <div class="form-group">
                <div class="btn-group" role="group">
                    <button type="submit" class="btn btn-success form-submit" data-redirect-to="/Form/Index"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
                    <a href="@Url.Action("Index", "Form")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(function () {
            $("#surveyGeographyIdDropDown").chosen({ width: "100%" });
            $("#housingTypeIdDropDown").chosen({ width: "100%" });
            $("#districtIdDropDown").chosen({ width: "100%" });
            $("#interviewerIdDropDown").chosen({ width: "100%" });
        });
    </script>
}