@model IEnumerable<Questionnaire.BLL.DTO.FormDataDTO>
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Вопрос ответ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("QuestionAnswers", "FormData", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="questionId" value="@ViewBag.QuestionId" />

    <div id="found-items-area"></div>

    <div id="attached-items" class="justify-content-center">
        @if (!(Model.Count() <= 0))
        {
            foreach (Questionnaire.BLL.DTO.FormDataDTO answer in Model)
            {
                <form class="was-validated">
                    <div class="col-md-6 item-info">
                        @answer.QuestionTypeName
                    </div>
                    <div class="col-md-6 item-info">
                        @answer.QuestionName
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="customControlValidation" name="radio-stacked" required>
                        <label class="custom-control-label" for="customControlValidation2">@answer.AnswerName</label>
                    </div>
                </form>
            }
        }
    </div>

    <div class="form-group">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
            <a href="@Url.Action("Index", "Question")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
        </div>
    </div>
}