@model IEnumerable<Questionnaire.WEB.Models.Entities.FormDataVM>

@{
    ViewBag.Title = "Вопрос ответ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <h4>Разделы</h4>
            <hr />
            <ul class="nav flex-column">
                @foreach (var section in ViewBag.Sections)
                {
                    string name = section.Name;
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("QuestionAnswers", "FormData", new { questionTypeId = section.Id })">@name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="col-lg-9 col-md-9">
            @using (Html.BeginForm("QuestionAnswers", "FormData", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h2>@ViewBag.Section</h2>

                <div id="found-items-area"></div>

                <div id="attached-items" class="justify-content-center">
                    @if (!(Model.Count() <= 0))
                    {
                        foreach (var question in Model)
                        {
                            <form class="was-validated">
                                <div class="item-info">
                                    <b>@question.QuestionName</b>
                                    <hr />
                                </div>
                                <div class="row">
                                    @foreach (var option in question.Options)
                                    {
                                        <div class="col-lg-4 col-md-4">
                                            <input type="radio" name="options[]" value="@option.Id" />
                                            <label>@option.Name</label>
                                        </div>
                                    }
                                </div>
                            </form>
                            <hr />
                        }
                    }
                </div>

                <div class="form-group">
                    <div class="btn-group" role="group">
                        <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"></i> Сохранить</button>
                        <a href="@Url.Action("Index", "Question")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"></i> Назад</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>